<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>About Didar</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--
    JS код для того, чтобы задать значение CSS-свойства("property") 
    одного элемента(firstSelector) - другому(secondSelector)

    P.S. не рекомендую к применению без необходимости
    <script>
        $(function(){
            let el = $("firstSelector").css("property");
            $("secondSelector").css("property",el);
            
            $( window ).resize(function() { 
                el = $("firstSelector").css("property"); 
                $("secondSelector").css("property",el);
            });
        });
    </script>
    -->
</head>

<body style="margin: 0; padding: 0;">
    <div class="wrapper">
        <div id="help">
            <button id="helpBtn">эй, псс</button>
            <div class="helpInfo stdFlex" style="justify-content:flex-start;">
                <h3 style="text-align:center; padding: 25px 0;"><strong>Нашли ошибку? Сообщите нам!</strong></h3>
                <ul>
                    <div style="display: flex; justify-content: space-around; font-style: italic;">
                        <ul style="list-style: none;">
                            <li>+7-705-195-8843</li>
                            <li>+7-700-260-3976</li>
                        </ul>
                        <ul style="list-style: none;">
                            <li>timpuh_work@mail.ru</li>
                            <li>timpuhin@gmail.com</li>
                        </ul>
                    </div>
                    <div style="text-align: center; padding-top: 25px;">
                        <h5><strong>ALSO</strong></h5>
                        <ul class="soloSoc" style="padding-top: 25px;">
                            <li>
                                <a href="https://www.youtube.com/watch?v=WvpfvzgxGmI"><img src="../static/img/instB.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://vk.com/timpuheen"><img src="../static/img/vkB.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://github.com/Timpuneen"><img src="../static/img/gitB.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <a href="#trigger" class="scrollto">
            <button id="upBtn" class="lock-margin">
                <img src="../static/img/down.png" alt="up">
            </button>
        </a>

        <a href="#popup" class="popup-Link">
            <button id="helpBtnT">HELP</button>
        </a>
        <header class="lock-padding">
            <div class="container">
                <div class="container_body">
                    <div class="upper _active" id="trigger">
                        <div class="upper">
                            <a href="https://www.youtube.com/watch?v=IBH1KnzAGTU"><img src="../static/img/logo.png" style="float: left; height: 100%; padding-left: 20px;"></a>
                            <div class="burger lock-margin">
                                <span></span>
                            </div>
                        </div>
                        <ul class="socList lock-padding">
                            <li><a class="social scrollto" href="#topKon">ABOUT ME<hr style="height: 1px; background-color: #fff;"></a></li>
                            <li><a class="social scrollto" href="#gallery">GALLERY<hr style="height: 1px; background-color: #fff;"></a></li>
                            <li><a class="social scrollto" href="#contacts">CONTACTS<hr style="height: 1px; background-color: #fff;"></a></li>
                            <!-- 
                            <li><img class="social" src="img/inst.png"></li>
                            <li><img class="social" src="img/vk.png"></li>
                            <li><img class="social" src="img/yt.png"></li> 
                            -->
                        </ul>
                    </div>
                    <div class="container_title">
                        <div id="landInfo">
                            <h1 id="startInfo">Мой личный сайт - портфолио</h1>
                            <div class="shadow"></div>
                            <p id="secondInf">
                                Привет, я Даня!<br> И это сайт обо мне, если ты хочешь узнать меня поближе, то тебе сюда
                            </p>
                        </div>
                        <div class="imgCont">
                            <img src="../static/img/ke.png" id="ke">
                        </div>
                    </div>
                    <div class="down">
                        <a id="downButton" href="#topKon" class="scrollto">MORE INFO</a>
                        <img src="../static/img/double-down.png" id="doubleDown">
                    </div>
                </div>
            </div>
        </header>
        <section class="parallax"></section>
        <section id="topKon">
            <div class="containerS lock-margin">
                <h1 class="anims op_Anim std anim_noHide pop">ABOUT ME</h1>
                <img src="../static/img/avo.png" alt="" class="int anims leftRight_Anim anim_noHide">
                <p class="inf anims downUp_Anim anim_noHide">
                    Соединённые Шта́ты Аме́рики (англ. The United States of America [ði juˌnaɪtɪd ˌsteɪts əv əˈmerɪkə]), сокращённо США (англ. USA), или Соединённые Шта́ты (англ. United States, U.S., в просторечии — Аме́рика) — государство в Северной Америке. Площадь — 9,5
                    млн км²[* 3][5] (4-е место в мире).
                </p>
                <p class="inf anims downUp_Anim anim_noHide">
                    Население — около 329 млн человек (2020, оценка; 3-е место в мире). США имеют федеративную форму устройства, административно делятся на 50 штатов и федеральный округ Колумбия; в их подчинении также находится ряд островных территорий (Пуэрто-Рико, Виргинские
                    Острова, Гуам и другие).
                </p>
                <p class="inf anims downUp_Anim anim_noHide">
                    Столица — город Вашингтон (округ Колумбия), а самым крупным по численности населения является город Нью-Йорк. Соединённые Штаты граничат на севере с Канадой, на юге — с Мексикой, также имеют морскую границу с Россией на западе. Омываются Тихим океаном
                    с запада, Атлантическим океаном — с востока и Северным Ледовитым океаном — с севера.
                </p>
            </div>
        </section>
        <section>
            <div class="containerS lock-margin" style="color: #fff; padding-bottom: 50px;">
                <h1 class="anims op_Anim std anim_noHide pop">MY STAT</h1>

                <div id="stata">
                    <table class="steelBlueCols anims hide_Anim anim_noHide">
                        <thead>
                            <tr>
                                <th colspan="2 " style="text-align: center; letter-spacing: 3px; font-weight: 750;">General Stats </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Trophies</td>
                                <td>{{articles[0]}}</td>
                            </tr>
                            <tr>
                                <td>Highest Trophies</td>
                                <td>{{articles[1]}}</td>
                            </tr>
                            <tr>
                                <td>Level</td>
                                <td>{{articles[2]}}</td>
                            </tr>
                            <tr>
                                <td>Club</td>
                                <td>{{articles[3]}}</td>
                            </tr>
                            <tr>
                                <td>Season Reset</td>
                                <td>{{articles[4]}}</td>
                            </tr>
                            <tr>
                                <td>Brawlers Reward</td>
                                <td>{{articles[5]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="hzKakoiID">
                        <img id="statImg" src="../static/img/ava.webp" alt="" class="anims scale_Anim anim_noHide">
                        <div id="statInf">
                            <h1 style="padding-bottom: 5px; font-family: 'NeoSansPro';">av1k</h1>
                            <h4>#P8R09GLP9</h4>
                        </div>
                    </div>
                    <table class="steelBlueCols anims hide_Anim anim_noHide">
                        <thead>
                            <tr>
                                <th colspan="2 " style="text-align: center; letter-spacing: 3px; font-weight: 750;">Personal Records</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Unlocked Brawlers</td>
                                <td>{{articles2[0]}}</td>
                            </tr>
                            <tr>
                                <td>3 vs 3 Victories</td>
                                <td>{{articles2[1]}}</td>
                            </tr>
                            <tr>
                                <td>Solo Victories</td>
                                <td>{{articles2[2]}}</td>
                            </tr>
                            <tr>
                                <td>Duo Victories</td>
                                <td>{{articles2[3]}}</td>
                            </tr>
                            <tr>
                                <td>Robo Rumble</td>
                                <td>{{articles2[4]}}</td>
                            </tr>
                            <tr>
                                <td>Big Game</td>
                                <td>{{articles2[5]}}</td>
                            </tr>
                            <tr>
                                <td>Season Record</td>
                                <td>{{articles2[6]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section id="gallery">
            <div class="containerS lock-margin">
                <h1 class="anims op_Anim std anim_noHide std pop">MY GALLERY</h1>
                <div class="image-slider swiper-container">
                    <div class="image-slider_wrapper swiper-wrapper">
                        <div class="image-slider_slide swiper-slide">
                            <div class="image-slider_image">
                                <img src="../static/img/avo1.jpg " alt="">
                            </div>
                        </div>
                        <div class="image-slider_slide swiper-slide">
                            <div class="image-slider_image">
                                <img src="../static/img/avo2.jpg" alt="">
                            </div>
                        </div>
                        <div class="image-slider_slide swiper-slide">
                            <div class="image-slider_image">
                                <img src="../static/img/avo3.jpg" alt="">
                            </div>
                        </div>
                        <div class="image-slider_slide swiper-slide">
                            <div class="image-slider_image">
                                <img src="../static/img/avo4.jpg" alt="">
                            </div>
                        </div>
                        <div class="image-slider_slide swiper-slide">
                            <div class="image-slider_image">
                                <img src="../static/img/avo5.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                    <!-- <div class="swiper-scrollbar "></div> -->
                </div>
            </div>
        </section>
        <footer id="contacts">
            <div class="footer">
                <div class="footCont lock-margin">
                    <div class="main">
                        <div style="display:flex; justify-content: center;">
                            <img src="../static/img/logoLight.png" alt="" id="logotipL">
                            <h2 style="align-self: center; font-family: 'NeoSansPro'; font-weight: lighter;">DIDAR CO.</h2>
                        </div>
                        <ul class="soloSoc">
                            <li>
                                <a href="https://vk.com/evilav0"><img src="../static/img/vk.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=R_SMsF9Udc4"><img src="../static/img/yt.png" alt=""></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/3v1l_av0/"><img src="../static/img/inst.png" alt=""></a>
                            </li>
                        </ul>
                        <h5 style="text-align: left; margin: 0 auto;">2020-2021 © DIDAR<br><br>Все права защищены</h5>
                    </div>
                    <div class="contacts">
                        <h2 style="font-family: 'NeoSansPro';font-weight: lighter;">CONTACTS</h2>
                        <ul>
                            <li>+7-705-195-8843</li>
                            <li>+7-700-260-3976</li>
                            <h5><strong>OR</strong>
                            </h5>
                            <li>timpuh_work@mail.ru</li>
                            <li>timpuhin@gmail.com</li>
                        </ul>
                    </div>
                    <h3 id="THEND">prod. by<br><strong><i>Timpuheen</i></strong></h3>
                </div>
            </div>
        </footer>
    </div>
    <div class="popup" id="popup">
        <div class="popup_body">
            <div class="popup_content">
                <a href="" class="popup_close close-popup">☓</a>
                <div class="popup_title">Нашли ошибку? Сообщите нам!</div>
                <div class="popup_text">
                    <ul>
                        <div style="display: flex; justify-content: space-around; font-style: italic;">
                            <ul style="list-style: none;">
                                <li>+7-705-195-8843</li>
                                <li>+7-700-260-3976</li>
                            </ul>
                            <ul style="list-style: none;">
                                <li>timpuh_work@mail.ru</li>
                                <li>timpuhin@gmail.com</li>
                            </ul>
                        </div>
                        <div style="text-align: center; padding-top: 25px;">
                            <h5><strong>ALSO</strong></h5>
                            <ul class="soloSoc " style="padding-top: 25px;">
                                <li>
                                    <a href="https://www.youtube.com/watch?v=WvpfvzgxGmI"><img src="../static/img/instB.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="https://vk.com/timpuheen"><img src="../static/img/vkB.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="https://github.com/Timpuneen"><img src="../static/img/gitB.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js "></script>
    <script type="text/javascript " src="../static/js/script.js "></script>
    <script type="text/javascript " src="../static/js/popup.js "></script>
    <script type="text/javascript " src="../static/js/myslick.js "></script>
</body>